<app-toolbar (clickResetEvent)="reset()"></app-toolbar>
<div class="content">
  <app-controls
    (selectUserEvent)="onUserSelected($event)"
    [userChoice]="userChoice"
    [winner]="winner"
    [counterMovements]="counterMovements"
  ></app-controls>
  <app-board
    (cellClickedEvent)="onCellClicked($event)"
    [board]="board"
    [winningCoordinates]="winningCoordinates"
  ></app-board>
  <app-messages
    [userChoice]="userChoice"
    [winner]="winner"
    [counterMovements]="counterMovements"
  ></app-messages>
</div>
